<%- include('partials/header') %> <%- include('partials/user_nav') %>

<div class="jumbotron text-center centered">
  <div class="container">
    <img src="images/censor.png" class="title-icon" alt="message with lock" />
    <h1 class="display-3 title">Confessions</h1>
    <p class="secret-text">I slept covered in pizza last night.</p>
    <% usersArr.forEach(user => { %>
    <p class="secret-text"><%=user.confession%></p>
    <% }) %>
    <hr />

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<%- include('partials/footer') %>
