<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="images/censor.png" alt="message with lock" class="home-img">
    <h1 class="display-3">Confessions</h1>
    <p class="lead">Don't carry your confessions with you, drop them here anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

