
body {
  background-color: #E8ECEF;
  text-align: center;
}

.centered {
  padding-top: 100px;
}

.secret-text {
  text-align: center;
  font-size: 5.5vw;
  padding: 0 5px;
  color: #fff;
  background-color: #000;
}

.icons {
  margin-right: 10px;
  font-size: 20px;
}

.card {
  margin-bottom: 20px;
}

.title-icon {
  width: 20vw;
}

.title {
  font-size: 13vw;
}

@media (min-width: 568px) {
  .secret-text {
    font-size: 4.5vw;
  }

  .title {
    font-size: 10vw;
  }
}


@media (min-width: 768px) {
  .centered {
    padding-top: 200px;
  }

  .title-icon {
   width: 80px 
  }

  .title {
    font-size: 4.5rem;
  }

  .secret-text {
    font-size: 2rem;
  }
}
